Repository hmcts/hwf-publicapp, pull requests merged in 2023-09, with the labels that each got.

#624 changing probe endpoint
  app/controllers/health_status/health_check_controller.rb
  app/controllers/health_status/ping_controller.rb
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
  config/routes.rb
  spec/controllers/health_status/health_check_controller_spec.rb
  spec/controllers/health_status/ping_controller_spec.rb
Labels: ns:help-with-fees, rel:help-with-fees-publicapp-pr-624, prd:help-with-fees

#625 System/jenkins v6
  Jenkinsfile_CNP
  lib/tasks/test.rake
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-625

#626 Rename Chart.yaml
  charts/help-with-fees-publicapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-626

#632 rename chart dir long
  charts/help-with-fees-publicapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-632

#633 fix secrets to match vault
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-633

#634 Jenkins/v9
  .gitignore
  Dockerfile.test
  Dockerfile.test.dockerignore
  Gemfile.lock
  _azure-pipelines.yml
  docker-compose-test.yml
  import-secrets.rb
  input-aat.yaml
  map.yaml
  new_input.yaml
  pipeline-steps/docker-build-manual.yaml
  pipeline-steps/docker-build-release.yaml
  pipeline-steps/docker-build.yaml
  pipeline-steps/publish-tests.yaml
  pipeline-steps/test-application.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-634

#635 Remove problem secret Update Chart.yaml
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-635

#636 Update mem & CPU values.yaml
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-636

#643 System/gem updates v14
  Gemfile
  Gemfile.lock
  config/application.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-643

#644 set staffapp ap
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-644

#650 Key update
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-650

#654 RST-5494 - Update lang attribute when language change
  app/views/layouts/moj_template.html.erb
  charts/help-with-fees-publicapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-654

#655 Minor updates v15
  .rubocop.yml
  .rubocop_todo.yml
  Dockerfile.saucelabs
  Gemfile.lock
  charts/help-with-fees-publicapp/Chart.yaml
  config/application.rb
  import-secrets.rb
  lib/tasks/test.rake
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-655
