Repository hmcts/hwf-publicapp, pull requests merged in 2023-10, with the labels that each got.

#658 RST-5677 - Using notify for the help form
  .env.test
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/help_requests_controller.rb
  app/mailers/notify_mailer.rb
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
  config/environments/production.rb
  config/initializers/govuk_notify.rb
  spec/controllers/help_requests_controller_spec.rb
  spec/mailers/help_me_mailer_spec.rb
  spec/mailers/notify_mailer_spec.rb
  spec/services/online_application_builder_spec.rb
  spec/support/shared_examples/notify_mailer.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-658

#656 Automation test suite updated
  features/benefit.feature
  features/checklist.feature
  features/claim.feature
  features/dependent.feature
  features/e2e.feature
  features/fee.feature
  features/form_name.feature
  features/home.feature
  features/income_kind.feature
  features/marital_status.feature
  features/national_insurance.feature
  features/national_insurance_presence.feature
  features/personal_details.feature
  features/probate.feature
  features/savings_investment.feature
  features/savings_investment_extra.feature
  features/step_definitions/benefit_steps.rb
  features/step_definitions/checklist_steps.rb
  features/step_definitions/claim_steps.rb
  features/step_definitions/common_steps.rb
  features/step_definitions/dependent_steps.rb
  features/step_definitions/dob_steps.rb
  features/step_definitions/fee_steps.rb
  features/step_definitions/homepage_steps.rb
  features/step_definitions/income_amount_steps.rb
  features/step_definitions/income_kind_steps.rb
  features/step_definitions/marital_status_steps.rb
  features/step_definitions/national_insurance_steps.rb
  features/step_definitions/personal_details_steps.rb
  features/step_definitions/probate_steps.rb
  features/step_definitions/savings_and_investment_extra_steps.rb
  features/step_definitions/savings_and_investment_steps.rb
  features/support/page_objects/benefit_page.rb
  features/support/page_objects/checklist_page.rb
  features/support/page_objects/claim_page.rb
  features/support/page_objects/dependent_page.rb
  features/support/page_objects/fee_page.rb
  features/support/page_objects/home_page.rb
  features/support/page_objects/marital_status_page.rb
  features/support/page_objects/national_insurance_page.rb
  features/support/page_objects/probate_page.rb
  features/support/page_objects/savings_investment_extra_page.rb
  features/support/page_objects/savings_investment_page.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-656

#657 RST-5901 - Using Redis as rails cache store
  Gemfile
  Gemfile.lock
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-657, enable_keep_helm

#661 app insight keys
  charts/help-with-fees-publicapp/Chart.yaml
  charts/help-with-fees-publicapp/values.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-661

#664 RST 5940 - fix TimeWithZone#to_s depracraction warning (upgrade to Rails 7.1.0)
  Gemfile
  Gemfile.lock
  README.md
  charts/help-with-fees-publicapp/Chart.yaml
  config/application.rb
  config/initializers/new_framework_defaults_6_1.rb
  spec/support/shared_examples/cache_suppress_headers.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-664

#671 RST-5969 - rails7 update fix
  .env.test
  .gitignore
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
  README.md
  app/controllers/sessions_controller.rb
  bin/setup
  charts/help-with-fees-publicapp/Chart.yaml
  config/application.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_7_1.rb
  config/initializers/permissions_policy.rb
  features/form_name.feature
  features/support/capybara_driver_helper.rb
  features/support/env.rb
  features/support/generic_helpers.rb
  features/support/webmock.rb
  lib/tasks/test.rake
  spec/controllers/home_controller_spec.rb
  spec/support/shared_examples/cache_suppress_headers.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-671

#677 System local cache fix
  Gemfile.lock
  config/environments/development.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-677

#676 Feature/rst 5631 page swap v2
  .gitignore
  Gemfile.lock
  app/controllers/sessions_controller.rb
  app/lib/feature_switch.rb
  app/services/navigation.rb
  app/services/online_application_builder.rb
  app/services/question_form_factory.rb
  config/environments/development.rb
  config/settings.yml
  features/checklist.feature
  features/e2e.feature
  features/fee.feature
  features/form_name.feature
  features/step_definitions/fee_steps.rb
  features/step_definitions/form_name_steps.rb
  features/step_definitions/summary_steps.rb
  features/support/navigation_helper.rb
  features/support/page_objects/fee_page.rb
  features/support/page_objects/form_name_page.rb
  features/support/page_objects/summary_page.rb
  spec/controllers/sessions_controller_spec.rb
  spec/features/pages/fee_question_spec.rb
  spec/features/pages/form_name_question_spec.rb
  spec/services/navigation_spec.rb
  spec/support/feature_steps.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-676

#673 RST-5957 update privacy policy wording
  config/locales/cy.yml
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-673
