Repository hmcts/hwf-publicapp, pull requests merged in 2024-01, with the labels that each got.

#747 RST-6065 added welsh for representative pages content
  app/views/questions/forms/_address.html.slim
  app/views/questions/headers/_partner_national_insurance.html.slim
  config/locales/cy.yml
  config/locales/en.yml
  features/national_insurance_presence.feature
  features/support/page_objects/home_office_page.rb
  features/support/page_objects/legal_representative_detail_page.rb
  features/support/page_objects/national_insurance_page.rb
  features/support/page_objects/national_insurance_presence_page.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-747

#752 System/gem updates v18
  .env.test
  Gemfile.lock
  app/helpers/yaml_helper.rb
  app/models/forms/base.rb
  spec/features/pages/form_name_question_spec.rb
  spec/features/pages/summary_spec.rb
  spec/support/feature_steps.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-752

#757 RST-6082 Added welsh translations
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  spec/features/pages/contact_question_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-757

#758 Rst 6088
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-758

#760 Minor gem updates
  Gemfile
  Gemfile.lock
  charts/help-with-fees-publicapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-760

#764 RST-6073 Text content change
  app/views/questions/forms/_over16.html.slim
  app/views/questions/forms/savings_and_investment/_post_ucd.html.slim
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  features/support/page_objects/checklist_page.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-764

#765 RST-6194 changed error message
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  features/fee.feature
  features/step_definitions/fee_steps.rb
  features/support/page_objects/fee_page.rb
  spec/features/pages/fee_question_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-765
