Repository hmcts/hwf-publicapp, pull requests merged in 2024-10, with the labels that each got.

#942 RST-6915 - gem updates v19
  Gemfile.lock
  Jenkinsfile_CNP
  charts/help-with-fees-publicapp/Chart.yaml
  package-lock.json
  package.json
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-942

#945 add asset precompile to jenkins test runs
  Jenkinsfile_CNP
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-945

#951 System gem updates v21
  Gemfile.lock
  charts/help-with-fees-publicapp/Chart.yaml
  package-lock.json
  package.json
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-951
