Repository hmcts/hwf-publicapp, pull requests merged in 2024-02, with the labels that each got.

#770 Minor gem updates
  Gemfile
  Gemfile.lock
  charts/help-with-fees-publicapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-770

#767 RST-6251 Update saving amount to 4250
  app/models/forms/savings_and_investment_extra.rb
  app/models/views/summary.rb
  app/views/questions/forms/_savings_and_investment_extra.html.slim
  app/views/questions/forms/savings_and_investment_extra/_post_ucd.html.slim
  app/views/questions/forms/savings_and_investment_extra/_pre_ucd.html.slim
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  features/step_definitions/savings_and_investment_extra_steps.rb
  features/support/page_objects/savings_investment_extra_page.rb
  features/ucd_savings_investment_extra.feature
  spec/models/forms/savings_and_investment_extra_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-767

#776 RST-6066 Content fixes
  app/views/questions/forms/_home_office.html.slim
  app/views/questions/headers/_applying_on_behalf.html.slim
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  features/home_office.feature
  features/step_definitions/home_office_steps.rb
  features/support/page_objects/home_office_page.rb
  features/support/page_objects/legal_representative_detail_page.rb
  features/support/page_objects/on_behalf_page.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-776

#780 RST-6258 Bug fixes
  app/lib/clear_partner_related_data.rb
  app/models/forms/partner_national_insurance.rb
  app/views/summaries/show.html.slim
  charts/help-with-fees-publicapp/Chart.yaml
  features/e2e.feature
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-780

#783 RST-6101 jQuery update
  app/assets/javascripts/application.js
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-783

#784 RST-6301 Added check for none kind selected when JS not running
  app/models/forms/income_kind.rb
  config/locales/cy.yml
  config/locales/en.yml
  spec/models/forms/income_kind_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-784

#790 RST-6035 added validation for over 16
  app/models/forms/dob.rb
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  spec/models/forms/dob_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-790

#789 RST-6339 No benefits display for under 16
  app/models/views/summary.rb
  app/services/navigation_helper.rb
  app/views/summaries/show.html.slim
  spec/models/views/summary_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-789

#792 RST-6273 back button
  app/views/questions/edit.html.slim
  config/locales/cy.yml
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-792

#794 RST-6269 Securing cookies
  config/environments/production.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-794

#795 RST-6368 - Adding warning info to dependants page
  app/views/questions/forms/dependents/_post_ucd.html.slim
  config/locales/cy.yml
  config/locales/en.yml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-795
