Repository hmcts/hwf-publicapp, pull requests merged in 2025-03, with the labels that each got.

#1045 RST-7191 - Helm update
  charts/help-with-fees-publicapp/Chart.yaml
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-1045

#1050 Minor gem upates
  .rubocop.yml
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-1050

#1053 Switching to firefox driver
  features/support/capybara_driver_helper.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-1053

#1055 RST-6299 - Check details update
  Gemfile.lock
  app/assets/stylesheets/local/utilities.scss
  app/models/views/summary.rb
  app/views/summaries/_represented_by.html.slim
  app/views/summaries/show.html.slim
  charts/help-with-fees-publicapp/Chart.yaml
  config/locales/cy.yml
  config/locales/en.yml
  features/e2e.feature
  features/step_definitions/summary_steps.rb
  features/support/page_objects/summary_page.rb
  spec/models/views/summary_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-1055

#1057 Minor gem update
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-1057
