Repository hmcts/hwf-publicapp, pull requests merged in 2025-07, with the labels that each got.

#1110 RST-7443 - Update GovUK-Frontend to 5.11.0
  app/views/layouts/moj_template.html.erb
  charts/help-with-fees-publicapp/Chart.yaml
  package-lock.json
  package.json
Labels: ns:help-with-fees, prd:help-with-fees, enable_keep_helm, rel:help-with-fees-publicapp-pr-1110

#1112 Minor gem updates
  Gemfile.lock
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-1112

#1119 Minor gem and ruby update
  .rubocop.yml
  .ruby-version
  Dockerfile
  Gemfile
  Gemfile.lock
  Jenkinsfile_CNP
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-1119

#1123 Minor gem updates and formatting fix
  Gemfile.lock
  features/support/page_objects/address_page.rb
  features/support/page_objects/applying_on_behalf_page.rb
  features/support/page_objects/benefit_page.rb
  features/support/page_objects/claim_page.rb
  features/support/page_objects/confirmation_page.rb
  features/support/page_objects/contact_page.rb
  features/support/page_objects/dependent_page.rb
  features/support/page_objects/fee_page.rb
  features/support/page_objects/form_name_page.rb
  features/support/page_objects/home_office_page.rb
  features/support/page_objects/income_kind_page.rb
  features/support/page_objects/income_range_page.rb
  features/support/page_objects/marital_status_page.rb
  features/support/page_objects/national_insurance_page.rb
  features/support/page_objects/partner_national_insurance_page.rb
  features/support/page_objects/probate_page.rb
  features/support/page_objects/savings_investment_extra_page.rb
  features/support/page_objects/savings_investment_page.rb
  spec/lib/clear_partner_related_data_spec.rb
Labels: ns:help-with-fees, prd:help-with-fees, rel:help-with-fees-publicapp-pr-1123
